%h1 Cosmetic
= link_to 'New product', new_admin_cosmetic_path, class: 'btn btn-success'

%table.table.table-striped
  %tr
    %th Name
    %th Brand
    %th Cosmetic type
    %th Price
    %th Ex. date
    %th Actions
  - @cosmetics.each do |cosmetic|
    %tr
      %td= cosmetic.name
      %td= cosmetic.brand
      %td= cosmetic.cosmetic_type
      %td= cosmetic.price
      %td= cosmetic.expiration_date
      %td
        = link_to 'Show', admin_cosmetic_path(cosmetic.id)
        = link_to 'Edit', edit_admin_cosmetic_path(cosmetic.id)
        = link_to 'Delete', admin_cosmetic_path(cosmetic.id), method: :delete, data: {confirm: 'Are you sure?'}
